footer.footer
  .container
    .footer__wrapper
      .footer__info.info
        .info__fio Тараненко В.К.
        .info__course Заочное отделение 3 курс
        .info__year 2019 год
      .footer__gallery
        img(src="static/img/content/pug.svg" alt="pug-logo").footer__img.js-slide
        img(src="static/img/content/html.png" alt="html-logo").footer__img.js-slide 
        img(src="static/img/content/css.jpg" alt="css-logo").footer__img.js-slide 
        img(src="static/img/content/js.png" alt="js-logo").footer__img.js-slide 
        img(src="static/img/content/sass.png" alt="sass-logo").footer__img.js-slide 
        img(src="static/img/content/npm.png" alt="npm-logo").footer__img.js-slide 
        img(src="static/img/content/node.jpg" alt="node-logo").footer__img.js-slide 
        
