.form__table {
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  margin: 50px 100px;
  td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
  tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
  tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
  tr:first-child td:first-child {
      border-radius: 10px 0 0 0;
      }
  tr:first-child td:last-child {
      border-radius: 0 10px 0 0;
      }
  tr td:last-child {
    border-right: none;
    }
  td {
      padding: 10px 20px;
      background: #f5ddd8;
      color: white;
      }
}